#rating-container {
  .is-submitting {
    opacity: 0.5;
    filter: blur(1px);
  }
}

.form-control,
.input-textarea {
  background: $input-textarea-bg;
  color: $text-color;

  &:active,
  &:focus {
    background: $input-textarea-bg;
    color: $text-color;
  }
}
