export REPO_ROOT="$(git rev-parse --show-toplevel)"

export PATH="$REPO_ROOT/bin":$PATH

if [[ -f .hasura_admin_secret ]]; then
    export HASURA_GRAPHQL_ADMIN_SECRET=$(cat .hasura_admin_secret)
fi

if [[ -f .google_client_secret ]]; then
    export GOOGLE_CLIENT_SECRET=$(cat .google_client_secret)
fi
