if [[ -f .hasura_admin_secret ]]; then
    export HASURA_GRAPHQL_ADMIN_SECRET=$(cat .hasura_admin_secret)
fi

if [[ -f .google_client_secret ]]; then
    export GOOGLE_CLIENT_SECRET=$(cat .google_client_secret)
fi
