$body-bg: rgb(32, 34, 36);
$body-color: #fafafa;
$text-color: #fafafa;
$light: rgb(47, 49, 52);
$dark: rgb(47, 49, 52);

$theme-colors: (
  "primary": #18510c,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

table {
  overflow-x: scroll;
  min-width: 768px;
}

#root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-body {
    flex: 1 1 auto;
    padding-top: 16px;
  }
}

.search-label {
  display: block;
}

.react-bootstrap-table {
  overflow-x: scroll;
}

hr {
  background-color: #cccccc;
}

// Elements & Tools
@import "colors.scss";

// Components
@import "components/score-accordion.scss";
@import "components/comment.scss";
@import "components/rating-form.scss";
@import "components/navbar.scss";
@import "components/avatar.scss";

// Page styles
@import "login-register.scss";
