$body-bg: rgb(46, 49, 53);
$body-color: #dedede;
$text-color: #dedede;
$light: rgb(69, 72, 77);
$dark: rgb(69, 72, 77);

$theme-colors: (
  "primary": #5979d1,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

@media (max-width: 575px) {
  .navigation-bar {
    .show,
    .collapsing {
      flex-direction: column;
      display: flex;
      align-items: flex-start;
    }
  }
}

.navbar-nav {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

table {
  overflow-x: scroll;
  min-width: 768px;
}

#root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-body {
    flex: 1 1 auto;
    padding-top: 16px;
  }
}

#settings-container {
  margin-top: 24px;

  .is-submitting {
    opacity: 0.5;
    filter: blur(1px);
  }
}

.search-label {
  display: block;
}

.react-bootstrap-table {
  overflow-x: auto;
}

hr {
  background-color: #cccccc;
}

.popout-player {
  width: 50%;
  max-width: 480px;
  position: fixed;
  bottom: 20px;
  z-index: 10;
  left: 20px;
  .handle {
    background-color: #1a1a1a;
    height: 28px;
    cursor: move;
    display: flex;
    justify-content: flex-end;
    span {
      cursor: pointer;
      color: #45484d;
      padding-left: 12px;
      padding-right: 12px;
      font-weight: bold;
    }
  }
}

.chat-rate-header-container {
  border-bottom: 1px solid white;
  background-color: rgb(59, 62, 67);

  #chat-link,
  #rate-link {
    &.active {
      color: #fff;
      border-bottom: 1px solid rgb(69, 72, 77);
      background: rgb(69, 72, 77);
    }
  }
}

// Elements & Tools
@import "colors.scss";

// Components
@import "components/score-accordion.scss";
@import "components/chat.scss";
@import "components/comment.scss";
@import "components/rating-form.scss";
@import "components/navbar.scss";
@import "components/avatar.scss";
@import "components/stars.scss";

// Page styles
@import "login-register.scss";
@import "run.scss";
