$body-bg: rgb(46, 49, 53);
$body-color: #dedede;
$text-color: #dedede;
$light: rgb(69, 72, 77);
$dark: rgb(69, 72, 77);

$theme-colors: (
  "primary": #5979d1,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

@media (max-width: 575px) {
  .navigation-bar {
    .show,
    .collapsing {
      flex-direction: column;
      display: flex;
      align-items: flex-start;
    }
  }
}

.navbar-nav {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

table {
  overflow-x: scroll;
  min-width: 768px;
}

#root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-body {
    flex: 1 1 auto;
    padding-top: 16px;
  }
}

#settings-container {
  margin-top: 24px;

  .is-submitting {
    opacity: 0.5;
  }
}

.search-label {
  display: block;
}

.react-bootstrap-table {
  overflow-x: auto;
}

hr {
  background-color: #cccccc;
}

#chatbox {
  max-height: 600px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

// Elements & Tools
@import "colors.scss";

// Components
@import "components/score-accordion.scss";
@import "components/comment.scss";
@import "components/rating-form.scss";
@import "components/navbar.scss";
@import "components/avatar.scss";

// Page styles
@import "login-register.scss";
